.card {
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 3px 4px 4px lightgrey;
}
.card:hover {
    box-shadow: 5px 7px 4px lightgrey;
}
.card-title {
    text-align: center;
    color: red;
    font-size: larger;
    font-weight: bold;
}
.card-subtitle {
  text-align: center;
  color: #808080;
  font-size:medium;
  font-style: italic;
  font-weight: light;
  text-decoration:dashed;
}
.card-text {
    padding-top: 5px;
}
